header {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    border-bottom: 3px solid #f10000;
    
    /* Faz o header colar no topo sem criar barra de rolagem lateral */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1000;
}

header img {
    width: 55px;
    height: 55px;
    object-fit: contain; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

h2{
    color: red;
    margin: 10px;
}

nav ul li a:hover {
    color: #ff0000;
}

h1, h2{
    color: #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

strong{
    color: #ff0000;
}

body {
    background-color: rgb(233, 233, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px; 
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}


.item_loja {
    padding: 0px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(255, 0, 0, 0.279);
    max-width: 350px;
    width: 28%;     
    padding-bottom: 25px;
    margin: 20px;
   display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: top;
}
.item_loja:hover{
       transform: scale(1.05);

}

p{
    margin: 25px;
    text-align: left;   
}

button{
    height: 35px;
    width: 150px;
    background-color: #ae0000;
    color: aliceblue;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto 15px auto;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.2s;
}


button:hover {
    background-color: #ff0000;
    color: white;
    transform: scale(1.05);
}